.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  background-color: steelblue;
}

.homepage div {
  width: 50%;
  padding: 0 15px;
}

.homepage h1 {
  color: floralwhite;
  font-family: monospace;
}
.homepage h2 {
  color: floralwhite;
  font-family: monospace;
}

.homepage div img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.homepage body {
  margin: 0;
  padding: 0;
}
@media (max-width: 550px) {
  .homepage {
    flex-direction: column;
    text-align: center;
  }

  .homepage div {
    width: 100%;
  }
}

main.about {
  display: flex;
  flex-direction: column;
  background-color: steelblue;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

.about section {
  display: flex;
  flex-direction: row;
}

.about img {
  max-width: 50vw;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.about h1 {
  color: floralwhite;
}

.about p {
  width: 70%;
  padding: 0 15px;
  color: floralwhite;
}

@media (max-width: 550px) {
  .about {
    flex-direction: row;
    text-align: center;
  }
}

main.skills {
  display: flex;
  flex-direction: column;
  background-color: steelblue;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}
